.borderTalha {
  border: 2px solid black;
}
.iconsStyle {
  font-size: 22px;
  cursor: pointer;
}

.heading {
  font-size: 36px;
  font-weight: 700;
}


@media screen and  (min-width : 650px){

  
  .contactsHeroSection{
border:2px solid
}}
